aws_keypair_name               = "admin_keypair"
ethnode_url_ssm_parameter_name = "/secrets/graphnode/url"
region                         = "us-east-1"
route53_root_fqdn              = "badger.vlk.berlin"
vpc_id                         = "vpc-060709104084a8e43"
public_subnet_ids              = ["subnet-0a512965a87169ccb", "subnet-0b42396ec98337372"]
subgraph_github_repos          = ["https://github.com/Badger-Finance/badger-subgraph"]