version: '3'
services:
  bsc_scout:
    build:
      context: ./scout
    ports: '8803:8801'
    environment:
      - ETHNODEURL
    container_name: scout-collector
    entrypoint:
      - "./startBsc.sh"
  events:
    build:
      context: ./scout
    ports:
      - '8802:8801'
    environment:
      - ETHNODEURL
    entrypoint:
      - "./startBridge.sh"
  scout:
    build:
      context: ./scout
    container_name: scout-collector
    ports:
      - '8801:8801'
    environment:
      - ETHNODEURL
  renderer:
    image: grafana/grafana-image-renderer:latest
    ports:
      - 8081
    environment:
      ENABLE_METRICS: 'true'
  grafana:
    build:
      context: ./grafana
    container_name: grafana
    ports:
      - '3000:3000'
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_RENDERING_SERVER_URL=http://renderer:8081/renderer
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
      - GF_LOG_FILTERS=rendering:debug
      - PROMETHEUS_URL=http://prometheus:9090
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/dashboards/homepage.json
  prometheus:
    build:
      context: ./prometheus
    container_name: prometheus
    ports:
      - '9090:9090'
      - '9093:9093'
    volumes:
      - prometheus-data:/prometheus
# Explicitly define the persistent volume for your data storage
volumes:
  grafana-data:
    external: true
  prometheus-data:
    external: true
